<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <link rel="stylesheet" href="../assets/about.css">
</head>
<body>

    <section class="about">
        <div class="main">
            <img src="../assets/images/ok.png" alt="about us">

            <div class="about-text">
                <h1>About Us</h1>
                <h5>Our services:</h5>
                <p>At Event Crafters, we specialize in connecting event organizers with the perfect 
                    venues for their unique occasions. Whether you're planning a corporate conference, a 
                    wedding celebration, or a social gathering, we've got you covered.</p>
                <h5>Why Choose Us:</h5>
                <p>Extensive Venue Selection - Choose from a wide range of venues to find the perfect setting for your event.</p>
                <p>Easy Booking Process - Our streamlined platform makes it simple to browse, book, and manage your event spaces with just a few clicks.</p>
                <p>Secure Transactions - Enjoy peace of mind with our secure and reliable payment system, ensuring a smooth and trustworthy transaction process.</p>
            </div>
        </div>
    </section>

    
    
</body>
</html>