<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent a place</title>
    <link rel="stylesheet" href="../assets/rentform.css" class="css">
</head>

<body>
    <div class="container">

        <div class="apply_box">

            <h1>Booking Application</h1>

            <form action="/bookplace" method="POST">
                <div class="form_container">
                    <div class="form_control">
                        <label for="first_name">First Name:</label>
                        <input id="first_name" name="first_name" placeholder="Enter First Name" required />
                    </div>

                    <div class="form_control">
                        <label for="last_name">Last Name:</label>
                        <input id="last_name" name="last_name" placeholder="Enter Last Name" required />
                    </div>

                    <div class="form_control">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Enter Email" required />
                    </div>

                    <div class="form_control">
                        <label for="number">Phone number:</label>
                        <input type="number" id="number" name="number" placeholder="Enter Phone Number" required />
                    </div>

                    <div class="form_control">
                        <label for="lot">Lot ID:</label>
                        <input type="text" id="lot" name="lot" placeholder="Enter Lot ID" required readonly="true" />
                    </div>

                    <div class="form_control">
                        <label for="decor">Decoration Service:</label>
                        <input type="decor" id="decor" name="decor" placeholder="Decoration Service" required
                            readonly="true" />
                    </div>

                    <div class="form_control">
                        <label for="cater">Catering service:</label>
                        <input type="cater" id="cater" name="cater" placeholder="Catering Service" required
                            readonly="true" />
                    </div>

                    <div class="form_control" style="display: none;">
                        <label for="sendcat">Chosen activity:</label>
                        <input type="sendcat" id="sendcat" name="sendcat" placeholder="Chosen activity" required
                            readonly="true" />
                    </div>

                    <div class="form_control">
                        <label for="type">Catering type:</label>
                        <input type="type" id="type" name="type" placeholder="Type" required readonly="true" />
                    </div>

                    <div class="form_control">
                        <label for="capacity">Capacity:</label>
                        <input type="capacity" id="capacity" name="capacity" placeholder="Number of people" required />
                    </div>

                    <div class="form_control">
                        <label for="user">Owner:</label>
                        <input type="owner" id="owner" name="owner" placeholder="Owner of lot" required
                            readonly="true" />
                    </div>

                    <div class="form_control">
                        <label for="activitytype">Chosen activity:</label>
                        <input type="activity" id="activity" name="activity" placeholder="Chosen activity" required
                            readonly="true" />
                    </div>

                    <div class="form_control" style="display: none;">
                        <label for="sendtype">Chosen activity:</label>
                        <input type="sendtype" id="sendtype" name="sendtype" required readonly="true" />
                    </div>

                    <div class="form_control" style="display: none;">
                        <label for="senddec">Chosen activity:</label>
                        <input type="senddec" id="senddec" name="senddec" required readonly="true" />
                    </div>

                    <div class="form_control">
                        <legend>
                            Select Start Time:
                            <input type="time" name="stime">
                        </legend>
                    </div>


                    <div class="form_control">
                        <label for="date">Date of event:</label>
                        <input value="" type="date" id="date" name="date" required />
                    </div>

                    <div class="form_control">
                        <legend>
                            Select End Time:
                            <input type="time" name="etime">
                        </legend>
                    </div>

                </div>

                <div class="button">
                    <button type="submit">Submit</button>
                </div>

            </form>
        </div>
    </div>

    <script>
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }

        // Retrieve values
        //            window.location.href = `/views/bookplace.html?userID=${userID}&lotID=${lotID}&activity=${activity}&decor=${decor}&dprice=${dprice}&cater=${cater}&type=${type}&cprice=${price}`;

        var userID = getUrlParameter('userID');
        var lotID = getUrlParameter('lotID');
        var activity = getUrlParameter('activity');
        var custID = getUrlParameter('customerID');


        var lotInput = document.getElementById('lot');
        lotInput.value = lotID;
        var ownerInput = document.getElementById('owner');
        ownerInput.value = userID;
        var actInput = document.getElementById('activity');
        actInput.value = activity;
        document.getElementById('decor').value = getUrlParameter('decor') + " | BDT " + getUrlParameter('dprice');
        document.getElementById('cater').value = getUrlParameter('cater');
        document.getElementById('type').value = getUrlParameter('type') + " | BDT " + getUrlParameter('cprice') + "/person";
        document.getElementById('sendtype').value = getUrlParameter('type');
        document.getElementById('sendcat').value = getUrlParameter('cater');
        document.getElementById('senddec').value = getUrlParameter('decor');
        const cap = document.getElementById('capacity').value;
        var datee = document.getElementById('date').value;

        async function changepage() {
            
            const resp = fetch(`http://localhost:5005/getname?userID=${custID}`);
            const usrname = resp.json();
            var name;
            for (const itm of usrname) {
                name = itm.user_name;
            }

            window.location.href= `/views/welcome.html?userID=${custID}&username=${name}`;

        }

        changepage();
      

    </script>

</body>

</html>