<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Crafters</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <section class="box">
        <div class="design">
            <div></div>
            <div></div>
            <div></div>
            <div></div> 
        </div>
        <div class="form">
            <h2>User Login</h2>
            <form action="/login" method="POST">
        
                <input type="email" name="username" class="input-field" placeholder="username"/>
                <input type="password" name="password" class="input-field" placeholder="password"/>
                <input type="submit" class="btn" value="LOGIN"> 
                <!-- <button onclick="redirect()">Login</button> -->
                <label>Not a user? </label>
                <a href="/views/registration.html" class="btn_register">Register</a>


              
            </form>
        </div>
        <script>
            function redirect() {
                const selectedOption = document.getElementById('username');
      // Redirect to another HTML file with the selected userID and lotID
                window.location.href = `/views/welcome.html`;

    }
        </script>
    </section>
</body>
</html>