<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Crafters</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <section class="box">
        <div class="design">
            <div></div>
            <div></div>
            <div></div>
            <div></div> 
        </div>
        <div class="form">
            <h2>User Registration</h2>
            <form action="/register" method="POST">
                
                <input type="name" name="username" class="input-field" placeholder="username"/>
                <input type="email" name="email" class="input-field" placeholder="email"/>
                <input type="password" name="password" class="input-field" placeholder="password"/>
                <input type="submit" class="btn" value="REGISTER">
                <label>Already have an account? </label>
                <a href="/views/index.html" class="btn_login" style="color: rgb(0, 0, 0);">Log in</a>
            </form>
        </div>
    </section>
</body>
</html>