<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rent a place</title>
    <script src="multiselect-dropdown.js"></script>
    <link rel="stylesheet" href="/assets/rentform.css" class="css">
</head>
<body>
    <div class="container">

        <div class="apply_box">
            
            <h1>Space Rental Application</h1>

            <form action="/rentplace" method="POST">
                <div class="form_container">
                    <div class="form_control">
                        <label for="first_name">First Name:</label>
                        <input id="first_name" name="first_name" placeholder="Enter First Name" required/>
                    </div>

                    <div class="form_control">
                        <label for="last_name">Last Name:</label>
                        <input id="last_name" name="last_name" placeholder="Enter Last Name" required/>
                    </div>

                    <div class="form_control">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Enter Email" required/>
                    </div>

                    <div class="form_control">
                        <label for="number">Phone number:</label>
                        <input type="number" id="number" name="number" placeholder="Enter Phone Number" required/>
                    </div>

                    <div class="form_control">
                        <label for="lotname">Lot name:</label>
                        <input type="text" id="lotname" name="lotname" placeholder="Enter Lot Name" required/>
                    </div>

                    <div class="form_control">
                        <label for="capacity">Capacity:</label>
                        <input type="capacity" id="capacity" name="capacity" placeholder="Number of people" required/>
                    </div>

        
                    
                    <div class="form_control">
                        <label>Events:</label><br>
                        <input type="checkbox" id="bday" name="event" value="bday">
                        <label for="bday">Birthday Party</label><br>
                        <input type="checkbox" id="wedding" name="event" value="wedding">
                        <label for="wedding">Wedding</label><br>
                        <input type="checkbox" id="picnic" name="event" value="picnic">
                        <label for="picnic">Picnic</label><br><br>
                    </div>
                    

                    <div class="textarea_control">
                        <label for="address">Address:</label>
                        <textarea name="address" id="address" cols="50" rows="4" placeholder="Enter address"></textarea>
                    </div>

                    <div class="textarea_control">
                        <label for="info">Extra Information:</label>
                        <textarea name="info" id="info" cols="50" rows="4" placeholder="Write something..."></textarea>
                    </div>

                    <div class="form_control">
                        <label for="upload">Upload images:</label>
                        <input value="" type="file" id="upload" name="upload" />
                    </div>

                </div>

                <div class="button">
                    <button type="submit">Submit</button>
                </div>

            </form>
        </div>
    </div>
    
</body>
</html>