<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/assets/welcome.css" >
    
</head>
<body>
    <nav>
      
      <label class="logo">Event Crafters</label>
      <ul>
        <li><a class="active" href="/views/welcome.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="dropdown">
            <a href="/views/welcome.html">Services</a>
            <ul class="dropdown-content">
                <li><a href="/views/rentplace.html">Rent a place</a></li>
                <li><a href="/views/bookplace.html">Book a place</a></li>
                <li><a href="/views/decor.html">Decor</a></li>
                <li><a href="/views/Payment.html">Payment</a></li>
            </ul>
        </li>
        <li><a href="/views/birthday_page.html">Events</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </nav>

    <!-- BODY -->

    <section class="pimg1">
        <div class="ptext">
            <span class="textBg">Celebrate Life's Moments <br> with Elegance and Precision</span>
        </div>
    </section>

    <section class="section section_light">
        <h2>Available spaces</h2>
        <p>Choose from our available spaces based on your requirements.</p>
    </section>

    <section class="pimg2">
        <div class="ptext">
            <span class="textBg">Explore our services</span>
        </div>
    </section>

    <section class="section section_dark">
        <h2>Decor Service</h2>
        <p>Choose among décor services that align with your vision, preferences,
             and unique personality. Make your event an expression of your individuality 
             and let the chosen décor service bring your dream setting to life.</p>
    </section>

    <section class="pimg3">
        <div class="ptext">
            <span class="textBg">Delve into our catering</span>
        </div>
    </section>

    <section class="section section_dark">
        <h2>Catering Service</h2>
        <p>Discover a variety of catering options at our website</p>
    </section>

    <section class="pimg4">
        <div class="ptext">
            <span class="textBg">Event Crafters</span>
        </div>
    </section>
    
    <footer>
        <section class="footer">
            <i>Contact information: 0123456789 &nbsp;&nbsp;
            Email: eventcrafters@gmail.com </i>
        </section>
    </footer>
  </body>
</html>