<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/assets/welcome.css" >
    
</head>
<body>
    <nav>
      
      <label class="logo">Event Crafters</label>
      <ul>
        <li><a class="active" href="/views/welcome.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="dropdown">
            <a href="/views/welcome.html">Services</a>
            <ul class="dropdown-content">
                <li><a href="/views/rentplace.html">Rent a place</a></li>
                <li><a href="/views/bookplace.html">Book a place</a></li>
            </ul>
        </li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </nav>
    <section class="image"></section>
    <footer>
        <section class="footer">
            <i>Contact information: 0123456789 <br>
            Email: eventcrafters@gmail.com </i>
        </section>
    </footer>
  </body>
</html>