*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #440f3c; /* darker */
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background: #5e0755;  /* lighter */
    transition: 0.5s;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #440f3c; /* Background color for the dropdown */
    min-width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style the dropdown links */
.dropdown-content a {
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    font-size: 10px;
}

/* Change link color on hover */
.dropdown-content a:hover {
    background-color:  #5e0755; /* Background color on hover */
    color: white;
}

section.footer{
    background-color:#440f3c;
    padding: 10px;
    color: white;
}

html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8cm;
    color: rgb(26, 136, 118);
}

.pimg1{
    background-image: url(images/img2.jpg);
    min-height: 70%;
}

.pimg2{
    background-image: url(images/event1.jpg);
    min-height: 500px;
}

.pimg3{
    background-image: url(images/img3.png);
    min-height: 500px;
}

.pimg4{
    background-image: url(images/img4.jpg);
    min-height: 500px;
}

.pimg1, .pimg2, .pimg3, .pimg4{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    outline: auto;
    outline-color: white;
}

.textBg{
    color: white;
    padding: 20px;
}

.section{
    padding: 50px 80px;
    text-align: center;
}

.section_light{
    background-color: rgb(229, 223, 223);
    color: #440f3c; 
    font-size: 25px;
}

.section_dark{
    background-color:  #440f3c;
    color: white;
    font-size: 25px;
}