* {
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    align-items: center;
    text-align: center;
    background-color: #440f3c;
  }

  .top{
    margin-top: 50px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  #data-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .sort {
  margin: 10px;
  padding: 10px;
  background-color: #440f3c; /* Green background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  }
  
  .sort:hover {
    background-color: #5e0755; /* Darker green on hover */
  }

  .inside{
    margin: 20px;
    text-align: left;
    
  }

  .btn{
    margin-top: 10px;
    margin-right: 10px;
  padding: 10px;
  background-color: #440f3c; /* Green background color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 90px;
  }